body {
  background-color: #4B846A;
  margin-left: 50px;
  margin right: 50px;
  padding-top: none;
}
.row {
  display: flex;
}

.column {
  flex: 50%;
}
@font-face {
  font-family: royalAcid;
  src: url(Royalacid_o,ttf);
}
#homepageimg  {
  padding-bottom: -100px;
}
